# Python
*.pyc
__pycache__/
*.pyo
*.pyd
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env

# Docker
*.env
Dockerfile
.dockerignore

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
