# Python
*.pyc
__pycache__/
*.pyo
*.pyd
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env

# Docker
*.env
Dockerfile
.dockerignore

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
echo ".streamlit/secrets.toml" >> .gitignore
git rm --cached .streamlit/secrets.toml
git add .gitignore
git commit -m "Ignore secrets.toml to protect sensitive information"
git push origin main
