streamlit==1.24.1
numpy==1.23.5
pandas==1.5.3
Pillow==9.5.0
exifread==3.0.0
pdfplumber==0.10.1
python-docx==0.8.11
google-auth==2.17.3
google-cloud-texttospeech==2.17.1
plotly==5.15.0
seaborn==0.12.2
matplotlib==3.7.1
streamlit-authenticator==0.7.0
PyYAML==6.0
google-api-python-client==2.95.0
bcrypt==4.0.1
streamlit-lottie==0.1.0
pydub==0.25.1
openai==0.27.5
